<html>
    <head>
        <link rel="stylesheet" href='{{ url_for('static', filename='/static/style.css') }}'>
        <title>Twitter Sentiment Analysis</title>
    </head>
    <body>
        <h1>Twitter Sentiment Analysis</h1>
        <p>
            Welcome. This app serves to analyze tweet sentiments of a
            specific person or hashtag in a specific range of time.
        </p>

        <form method='post' action='/'>
            <div>
                Twitter User: <br>
                <input type="text" name="username" class="form-control" placeholder="username or hashtag" required autofocus>
            </div>
            <div>
                From: <br>
                <input type="date" name="from" class="form-control" required>
            </div>
            <div>
                To: <br>
                <input type="date" name="to" class="form-control" required>
            </div>
            <input type="submit" value="Start analyzing!">
        </form>

        <table style="width:100%">
            {{ table }}
          <!-- <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
          </tr> -->
        </table>

    <a href="https://github.com/daQuincy/Twitter-Sentiment-Analysis-Flask-App">View this project on GitHub</a>
    </body>
</html>
